* {
    box-sizing: border-box;
}


/* VARIABLE */
:root {
    /* Farver */
    --backgroundColor: #F7f4ef;
    --textColor: #5c4636;
    --headerFooterColor: #cdbba5;
    --buttonColor: #5c4636;
    --hoverColor: #9b8066;
    --cardColor: white;
    --tableColor: #E8DED0;

    /* Skygge */
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

/* GENERAL STYLING */
body,
a,
p,
h1,
h2,
h3 {
    margin: 0;
    color: var(--textColor);
    line-height: 150%;
}

body {
    background-color: var(--backgroundColor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* HEADER */
header {
    background-color: var(--headerFooterColor);


    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: var(--shadow);


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: 20px;
    }

    .logo {
        max-width: 100px;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 50px;
    }

    i {
        font-size: 22px;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
    }

}



/* HERO - BILLEDE SLIDER */
.heroSection {
    display: flex;
    position: relative;


    img {
        width: 33.33%;
        height: 300px;
        object-fit: cover;
    }
}

.heroButtons {
    position: absolute;
    top: 250px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.heroButton {
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    background-color: var(--buttonColor);
    color: var(--backgroundColor);
    cursor: pointer;
    box-shadow: var(--shadow);
}

.heroButton:hover {
    background-color: var(--hoverColor);
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: background-color 0.3s ease;
}


/* BREADCRUMB */
.breadcrumb {

    ul {
        display: flex;
        gap: 10px;

        li {
            list-style: none;
        }

    }
}

/* MAIN SECTION */
main {
    margin: 40px 140px;

}

.mainTop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

/* Main left section */
.boligInfo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.description {
    margin-block: 20px
}

.descriptionText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;

    h2 {
        margin-top: 20px;
    }
}


.readMoreButton {
    margin-top: 20px;
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    background-color: var(--buttonColor);
    color: var(--backgroundColor);
    cursor: pointer;
    box-shadow: var(--shadow);
}

.readMoreButton:hover {
    background-color: var(--hoverColor);
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: background-color 0.3s ease;
}

.descriptionText.expanded {
    display: block;
}




/* Main right section */
.priceBox {
    padding: 20px;
    border: solid 2px var(--textColor);


    hr {
        color: var(--textColor);
        margin-block: 20px;
    }

    h2 {
        text-align: center;
    }

    span {
        display: flex;
        justify-content: space-between;
    }

    .bold {
        p {
            font-weight: bold;
        }
    }

    .kontaktButton {
        margin-top: 20px;
        width: 100%;
        padding: 12px 18px;
        border-radius: 5px;
        border: none;
        background-color: var(--buttonColor);
        color: var(--backgroundColor);
        cursor: pointer;
        box-shadow: var(--shadow);
    }

    .kontaktButton:hover {
        background-color: var(--hoverColor);
        text-decoration: underline;
        text-underline-offset: 5px;
        transition: background-color 0.3s ease;
    }
}

.sectionLine {
    height: 5px;
    background-color: var(--textColor);
    margin-block: 40px;
}


/* DETALJER OM BOLIG SECTION */
.mainDetailBox {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;



}

table {
    width: 400px;
    border: 2px solid var(--tableColor);
    border-collapse: collapse;

    tr {
        display: flex;
        justify-content: space-between;
    }

    .tableColor {
        background-color: var(--tableColor);
    }



}

th,
td {
    padding: 12px;
    /* border-bottom: 1px solid var(--headerFooterColor); */
}

/* RELATEREDE BOLIGER SECTION */


/* FOOTER */